#left {
    width: 387px;
    height: 450px;
    position: absolute;
    left:0px;
    border: 5px solid #222;
    }

#right {
    width: 387px;
    height: 450px;
    position: absolute;
    right:0px;
    border: 5px solid #222;
    }

#center {
    width: 387px;
    height: 450px;
    position: absolute;
    left:392px;
    border: 5px solid #222;
    }
